* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #fff8e1;
    color: #333;
}


.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    border: 1px solid black;
}


.header {
    display: flex;
    align-items: center;
    background: #81c4ff;
    color: black;
    padding: 10px;
}

.header img {
    height: 150px;
    margin-right: 20px;
}

.header h1 {
    font-size: 2.5em;
    margin: 0;
}

.header h2 {
    font-size: 1.2em;
    margin: 5px 0 0;
    color: #f0f8ff;
}


.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #15688e;
}

.navbar a {
    flex: 1;
    text-align: center;
   
    color: white;
    padding: 10px;
    font-weight: bold;
    transition: 0.3s;
}

.navbar a:hover {
    background-color: #ff8f00;
    color: black;
}


.content {
    display: flex;
    flex: 1;
}


.sidebar {
    width: 30%;
    background: #e7222e;
    color: navy; 
    padding: 15px;
}

.sidebar h3 {
    margin-bottom: 10px;
    color: black;
    font-size: 1.2em;
}

.sidebar a {
    display: block;
   
    color: yellow;
    margin: 8px 0;
    padding: 6px;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: maroon;
    color: white;
    padding-left: 10px;
    border-radius: 5px;
}

/* Main Content */
.main-content {
    flex: 1;
    background-color: grey;
    border: 2px solid black;
}

.main-content iframe {
    width: 100%;
    height: 100%;
    border: none;
}
